<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.factor.launcher">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.BIND_APPWIDGET" tools:ignore="ProtectedPermissions"/>

    <uses-permission
            android:name="android.permission.BIND_APPWIDGET"
            tools:ignore="ProtectedPermissions"/>

    <application
            android:name=".FactorApplication"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/factor_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/factor_icon_round"
            android:supportsRtl="false"
            android:taskAffinity=""
            android:theme="@style/AppTheme"
            android:allowBackup="true">

        <activity
                android:name=".activities.SettingsActivity"
                android:documentLaunchMode="intoExisting"
                android:autoRemoveFromRecents="true"
                android:launchMode="singleInstance"
                android:icon="@drawable/icon_menu_black"
                android:theme="@style/SettingsTheme">
        </activity>

        <activity
                android:name=".activities.EmptyHome"
                android:exported="true"
                android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
                android:name=".activities.WelcomeActivity"
                android:screenOrientation="portrait"
                android:theme="@style/WelcomeTheme"
                android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
                android:name=".activities.HomeActivity"
                android:clearTaskOnLaunch="true"
                android:excludeFromRecents="true"
                android:enabled="true"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:stateNotNeeded="true"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>

        <service
                android:name=".services.NotificationListener"
                android:label="@string/notification_service_description"
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
                android:stopWithTask="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
    </application>

</manifest>